.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
}
.navbar .nav-links {
    display: flex;
}
.navbar .nav-links a {
    margin-left: 15px;
}
.navbar .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.navbar .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

.selector:hover
{
    background-color: darkgray;
}

#fondo
{
    background-color: #F7F0F0;
}

h1
{
    font-size: 140%;    
}

.barraDivisoria
{    
    color: #F7F0F0;
    text-align: center;
    padding: 12px 0%;
}

#barraDivisoriaSuperior
{
    background-color: #34602E;
    margin-bottom: 30px;
}

#barraDivisoriaInferior
{
    background-color: #CC0000;
}

.container
{
    display: grid;
    place-items: center;
    text-align: center;             
}

article
{
    display: grid;
    padding: 0% 15%;
    font-size: 100%;
}

.icon
{
    width: 20px;
    height: 20px;
}

#barraNavegacion
{
    padding: 0%;
}

#imagenCentrada
{
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: center;
}

#botonInicio
{
    background-color: #484349;    
    border: 2px solid black;
    width: 25%;
    font-size: 110%;
}
@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar .nav-links.active {
        display: flex;
    }
    .navbar .hamburger {
        display: flex;
    }
}