#sucursales
{
    margin-top: 100px;
    margin-bottom: 100px;    
}

.espaciado
{
    margin-bottom: 50px;
}

.sucursales
{
    text-align: center;
    font-weight: bold;
}

@media(max-width: 768px)
{
    iframe
    {
        width: 100%;
        height: 130%;
        padding-bottom: 150px;        
    }

    article
    {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width: 576px)
{
    iframe
    {
        width: 100%;
        height: 110%;
        padding-bottom: 50px;
    }

    article
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}